body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eeeeee;
}

header {
    background-color: #797979;
    color: #eeeeee;
    text-align: center;
    padding: 10px 0;
}

.product-header,
.user-header {
    text-align: center;
    padding: 20px;
}

.user-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin: 20px auto;
}

.user-grid {
    border-top: 5px solid #2c2cb6;
    border-radius: 5px;
}

.form {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group select,
.form-group input {
    width: 100%;
    display: block;
    padding: 12px 5px;
    border: 1px solid #dedede;
    outline: none;
}

.form button,
.edit-btn,
.delete-btn {
    padding: 10px 20px;
    background-color: #2c2cb6;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    display: inline-block;
    outline: none;
    border-radius: 5px;
}

.edit-btn {
    background-color: rgb(7, 7, 82);
}

.delete-btn {
    background-color: red;
}
table {
    font-family: 'Courier New', Courier, monospace;    
    border-collapse: collapse;
    width: 100%;
}
table td,
table th {
    border: 1px solid #dedede;
    padding: 8px;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: navy;
    color: white;
}